.div01{

border-radius: 30px;
width: 1000px;
height: 500px;
text-align: center;
margin-top: 150px;

}

.div_position{

display: flex;
align-items: center;
justify-content: center;

}

.div2_position{

    display: flex;
    align-items: center;
    justify-content: center;
    
    }